body {
    background-color: #26262d;
}
.cerceve {
    width: 1200px;
}
.menu ul li {
    font-size: 14px;
    text-align: center;
    padding: 15px;
    color: white;
}
.menu ul li.active {
    color: #ff9800;
}
.menu ul {
    width: 100px;
}
.menu {
    background-color: #31313a;
}
.menu ul li:hover {
    color: #ff9800;
}
.ben, .icerik > div {
    background-color: #31313a;
}
.ben .resim {
    position: relative;
    background-image: url(../images/bg.jpg);
    background-position: center center;
    background-size: cover;
}
.tab-content {
    display: none;
}
.tab-content.active {
    display: block
}
.mesaj {
    font-weight: 700;
}

.button {
    border-radius: 3px;
    margin-top:10px;
    padding:5px 64px;
    color:white;
    background-color: rgb(55, 66, 71);;
}

.iletisim {
    outline:none; 
    background-color: rgb(139 139 150);
    border-radius:5px;
    width: 100%; 
    color:black;
    padding: 3px 10px;
}

progress {
    -webkit-appearance:none;
    width:70%;
    height:17px;
    border:1px solid #ccc;
    overflow:hidden;
    color:#aaa;
    border-radius:10px;
}
.yetenekleric {
    margin-top:7%;
}

.hakkimdaic {
    margin-top:3%;
}
    ::-webkit-progress-bar {
        background:#f1f1f1;
    }
    ::-webkit-progress-value {
        background:#264c5a;
    }
    ::moz-progress-bar {
        background:#f1f1f1;
    }

.egitimic {
    margin-top:20px;
}
.egitimic a{
    margin-top:20px;
	border-left:5px solid #9c2525;
	font-size:18px;
	background:#9c252540;
	padding:5px 10px;
	font-family: 'Handlee', cursive;
}